<div class="left-panal">

    <div class="left_menu">

        <div class="menu">
            
             <span class="material-symbols-outlined menu_icon">home</span>
             <span *ngIf="!mainService.isMinimized" class="menu_name"> Home</span>
        </div>

        <div class="menu">

            <img src="../../assets/student.png" alt="student-img" class="imgTeach"/>
            <span *ngIf="!mainService.isMinimized" class="menu_name"> Student</span>
        </div>

        <div class="menu">

            <img src="../../assets/techer.png" alt="Teacher-img" class="imgTeach"/>
            <span *ngIf="!mainService.isMinimized" class="menu_name"> Teacher</span>

        </div>

        <div class="menu">

            <img src="../../assets/results.png" alt="exam-img" class="imgTeach"/>
            <span *ngIf="!mainService.isMinimized" class="menu_name"> Exam & Results</span>
        
        </div>

        <div class="menu">

            <span class="material-symbols-outlined menu_icon">content_paste_search </span>
            <span *ngIf="!mainService.isMinimized" class="menu_name"> Search & Report</span>
        
        </div>


        <div class="menu">

            <span class="material-symbols-outlined menu_icon">fact_check</span>
            <span *ngIf="!mainService.isMinimized" class="menu_name">Attendence</span>
        
        </div>


        <div class="menu">

            <span class="material-symbols-outlined menu_icon"> settings</span>
            <span *ngIf="!mainService.isMinimized" class="menu_name"> settings</span>
        
        </div>

        <div class="menu">

            <span class="material-symbols-outlined menu_icon">  logout </span>
            <span *ngIf="!mainService.isMinimized" class="menu_name">Lock Out</span>
        
        </div>

    </div>

</div>    

